{{template "mail/header.tpl" .}}

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <link href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700' rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel="stylesheet">


    <title>{{.Subject}}</title>

    <style>
        body {
            font-family: Quicksand, arial, helvetica, sans-serif
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Work Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif
        }
    </style>
</head>


<body>
    <div>
        <h1>{{.Subject}}</h1>
        <p>{{raw .CustomData.Message}}</p>
    </div>
</body>

</html>